
@{
    ViewBag.Title = "Upload Files";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ms-Grid-row">
    <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
        <div class="ms-CommandBar ">
            <div class="ms-CommandBar-sideCommands">

                <div class="ms-CommandButton">
                    <button class="ms-CommandButton-button">
                        <span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i class="ms-Icon ms-Icon--Contact"></i></span><span class="ms-CommandButton-label">@ViewBag.UserName</span>
                    </button>
                </div>
            </div>
            <div class="ms-CommandBar-mainArea">
                <div class="ms-SearchBox  ms-SearchBox--commandBar">
                    <input class="ms-SearchBox-field" type="text" value="">
                    <label class="ms-SearchBox-label">
                        <i class="ms-SearchBox-icon ms-Icon ms-Icon--Search"></i>
                        <span class="ms-SearchBox-text">Search</span>
                    </label>

                    <div class="ms-CommandButton ms-SearchBox-clear ms-CommandButton--noLabel  ">
                        <button class="ms-CommandButton-button">
                            <span class="ms-CommandButton-icon "><i class="ms-Icon ms-Icon--Cancel"></i></span><span class="ms-CommandButton-label"></span>
                        </button>
                    </div>

                    <div class="ms-CommandButton ms-SearchBox-exit ms-CommandButton--noLabel  ">
                        <button class="ms-CommandButton-button">
                            <span class="ms-CommandButton-icon "><i class="ms-Icon ms-Icon--ChromeBack"></i></span><span class="ms-CommandButton-label"></span>
                        </button>
                    </div>

                    <div class="ms-CommandButton ms-SearchBox-filter ms-CommandButton--noLabel  ">
                        <button class="ms-CommandButton-button">
                            <span class="ms-CommandButton-icon "><i class="ms-Icon ms-Icon--Filter"></i></span><span class="ms-CommandButton-label"></span>
                        </button>
                    </div>
                </div>

                <div class="ms-CommandButton">
                    <a class="ms-CommandButton-button" href="@Url.Action("Index", "Home")">
                        <span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i class="ms-Icon ms-Icon--Table"></i></span><span class="ms-CommandButton-label">Overview</span>
                    </a>
                </div>

                <div class="ms-CommandButton">
                    <a class="ms-CommandButton-button" href="@Url.Action("New", "Home")">
                        <span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i class="ms-Icon ms-Icon--Add"></i></span><span class="ms-CommandButton-label">New</span>
                    </a>
                </div>

                <div class="ms-CommandButton">
                    <a class="ms-CommandButton-button" href="@Url.Action("Edit", "Home")">
                        <span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i class="ms-Icon ms-Icon--Edit"></i></span><span class="ms-CommandButton-label">Edit</span>
                    </a>
                </div>

                <div class="ms-CommandButton">
                    <a class="ms-CommandButton-button" href="@Url.Action("UploadFiles", "Home")">
                        <span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i class="ms-Icon ms-Icon--Upload"></i></span><span class="ms-CommandButton-label">Upload Files</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="ms-Grid-row">
    <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
        <h2>Upload Files</h2>

        <fieldset id="zone">
            <legend>Drop a file inside&hellip;</legend>
            <p>Or click here to <em>Browse</em>..</p>

            <p class="progress">
                <span id="bar_zone"></span>
            </p>
        </fieldset>

    </div>
</div>

@section scripts {
    <script src='~/Scripts/controls/filedrop-min.js'></script>
    <script type="text/javascript">
        // Tell FileDrop we can deal with iframe uploads using this URL:
        var options = { iframe: { url: '/Home/UploadFileContent?SPHostUrl=@ViewBag.SPHostUrl' } };
        // Attach FileDrop to an area ('zone' is an ID but you can also give a DOM node):
        var zone = new FileDrop('zone', options);
        zone.multiple(true);

        // opt.input contains file input created by FileDrop:
        zone.opt.input.file.onchange = function (e) {
            // eventFiles() retrieve dropped File objects in
            // a cross-browser fashion:
            zone.eventFiles(e).each(function (file) {
                console.log(file.name + ' (' + file.size + ') bytes')
            })
        }

        // Do something when a user chooses or drops a file:
        zone.event('send', function (files) {
            // Depending on browser support files (FileList) might contain multiple items.
            files.each(function (file) {
                // React on successful AJAX upload:
                file.event('done', function (xhr) {
                    // 'this' here points to fd.File instance that has triggered the event.
                    console.log('Done uploading ' + this.name + ', response:\n\n' + xhr.responseText);
                });

                file.event('error', function (e, xhr) {
                    console.log("Failed upload: " + xhr.status + ', ' + xhr.statusText)
                })

                // Reset the progress when a new upload starts:
                file.event('sendXHR', function () {
                    fd.byID('bar_zone').style.width = 0
                })

                file.event('progress', function (current, total) {
                    var width = current / total * 100 + '%'
                    fd.byID('bar_zone').style.width = width
                })

                // Send the file:
                file.sendTo('/Home/UploadFileContent?SPHostUrl=@ViewBag.SPHostUrl');
            });
        });

        // React on successful iframe fallback upload (this is separate mechanism
        // from proper AJAX upload hence another handler):
        zone.event('iframeDone', function (xhr) {
            console.log('Done uploading via <iframe>, response:\n\n' + xhr.responseText);
        });

    </script>
}
